.new_format_letter_header_section{
    margin-left: 100px;
}

.new_format_letter_header_divider{
    opacity: 30%;
}

.new_format_letter_input_section_holder{
    margin-left: 100px;
}

.add_new_format_letter_buttons {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    gap: 15px;
}

.add_new_format_letter_confirm_btn,
.add_new_format_letter_cancel_btn {
    height: 40px;
    width: 150px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    border: 0;
    transition: all 0.3s ease;
}

.add_new_format_letter_cancel_btn {
    background-color: rgba(244, 67, 54);
}

.add_new_format_letter_confirm_btn {
    background-color: rgba(76, 175, 80);
}

.add_new_format_letter_confirm_btn:hover,
.add_new_format_letter_cancel_btn:hover {
    transform: scale(1.05);
    opacity: 0.8;
}

.new_format_letter_input_field input {
    width: 724px;
    height: 48px;
    padding: 0 10px;
    border-radius: 1px;
    border: 3px solid #ddd;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.new_format_letter_input_field input:focus {
    border: 3px solid rgba(59, 130, 246, 0.5);
    outline: none;
    border-color: rgba(59, 130, 246, 0.5);
    box-shadow: 0 0 6px rgba(59, 130, 246, 0.4);
    background-color: #fefefe;
}

.settings_format_letter_color_blue,
.settings_color_blue{
    color: #2a7dc9;
    text-decoration: none;
}

.settings_format_letter_color_blue:hover,
.settings_color_blue:hover{
    color: #0D47A1;
    text-decoration: none;
}

.settings_format_letter_color_blue:visited,
.settings_color_blue:visited{
    
    text-decoration: none;
}


.color_me_gray{
    color: gray;
}

.color_me_gray:hover{
    color: #0D47A1;
    text-decoration: none;
}